.header {
  height: 5vh;
  padding-left: 100px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 2px 1px rgba(255, 255, 255, 0.8);
}

.navBar {
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
}

.navButton {
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.0);
  text-decoration: none;
}