.imgContainer {
  max-height: 80%;
  overflow: hidden;
}

.bgImage {
  display: block;
  max-height: inherit;
  max-width: inherit;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}