.homePageRoot {
  width: 100%;
  height: 100vh;
  background-color: #4456a7;
}

.bgImage {
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}