.blogListContainer {
  margin: 10px;
  width: 100%;
}

.blogListContainer {
  :global {
    .ant-list-pagination {
      margin-top: 4px;
      border: none;
    }
  }
}

.ant-list-pagination {
  margin-top: 4px;
}

.blogItemContainer {
  display: block;
}

.solidLine {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.dashedLine {
  border: 2px dashed rgba(0, 0, 0, 0.5);
}

.blogTitle {
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.9);
}

.blogDate {
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
}

